@charset "UTF-8";

/*  Curso em Vídeo
body, html {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Montserrat", "sans-serif";
}
*/

/* Global */

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a {
    font-family: "Montserrat", "sans-serif";
    color: #404040;
}

h1 {
    font-size: 35px;
    font-weight: 600;
}

h2 {
    font-size: 35px;
    font-weight: 400;
}

p {
    font-size: 16px;
}

strong {
    font-weight: 600;
}

.botao {
    font-weight: 700;
    font-size: 24px;
    text-decoration: none;
}

/* Cabeçalho */

.item-lista a {
    color: #112E61;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
}

/* Seção Hero */

h1#secao-hero {
    font-size: 35px;
    font-weight: 600;
    color: #404040;
}

p#secao-heroo {
    font-size: 19px;
    color: #404040;
}



/* Seção Conteúdos Gratuitos */

/*
h2#secao-gratuitos {
    font-size: 35px;
    font-weight: 400;
}
*/

span#secao-gratuitos {
    color: #7a40be;
    font-weight: 600;
}

h3.h3-treinamentos {
    font-size: 23px;
    font-weight: 700;
}

a.gratuitos-link-lista {
    font-size: 19px;
    text-decoration: none;
}

/* Seção Diferenciais */

/*
h2#h2-diferenciais {
    font-size: 32px;
    font-weight: 400;

}
*/

/*  
strong#strong-diferenciais {
    font-weight: 600;
}
*/

p#p-diferenciais {
    font-size: 19px;
}

h3.h3-diferenciais {
    font-size: 24px;
    color: #005e88;
    font-weight: 600;
}

h3#h3-diferenciais {
    font-size: 35px;
    font-weight: 400;
}

#h3-diferenciais a {
    color: #005e88;
    font-weight: 700;
    text-decoration: none;
}

/* Seção o que falam ! */

h2#h2-oquefalam span {
    font-weight: 600;
}

/* Seção Blog */

p.blog-postadoem {
    font-size: 15px;

}

.blog-postadoem a {
    font-weight: 600;
    color: #f7a70c;
    text-decoration: none;
}

a.blog-titulopost {
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
}

p.blog-descricaopost {
    font-size: 17px;
}

/* Seção Como Ajudar */

span.comoajudar-realce {
    font-weight: 600;
}

ul.comoajudar-lista,
p.comoajudar-paragrafo  {
    font-size: 19px;
}

.comoajudar-lista a,
.comoajudar-paragrafo a {
    color: #008ff7;
    text-decoration: underline;
    font-weight: 600;
}

.comoajudar-paragrafo b {
    font-weight: 600;
}

/* Seção Mini Curso */

.minicurso-realce {
    font-weight: 600;
}

/* Seção Rodapé */

p.rodape-titulo {
    font-weight: 600;
    font-size: 22px;
}

p.rodape-subtitulo {
    font-size: 20px;
    font-weight: 500;
}

p.rodape-seg-subtitulo {
    font-weight: 500;
    font-size: 18px;
}

.rodape-link {
    color: #1a77a4;
}